*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#main{
    width: 640px;
    height: 960px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -320px;
    -webkit-transform-origin: top;
}
.slide li{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.slide li:nth-child(1){
    background: url("img/index.jpg")no-repeat;
}
.slide li:nth-child(2){
    background: url("img/index.jpg")no-repeat;
}
.slide li:nth-child(3){
    background: url("img/index.jpg")no-repeat;
}
.slide li:nth-child(4){
    background: url("img/index.jpg")no-repeat;
}
.slide li:nth-child(5){
    background: url("img/index.jpg")no-repeat;
}

.zIndex{
    z-index: 111;
}


.a5{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 10%;
    bottom: 0;
    color: #fff;
    line-height: 90px;
    font-size: 30px;
}

.a5 p:nth-child(1){
     font-size: 60px;
    -webkit-transform: rotateX(0deg);
}
.a5 p:nth-child(2){
    margin-top: 40%;
}
#a5 p:nth-child(1){
    -webkit-transform: rotateX(360deg);
}



.a4{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 10%;
    bottom: 0;
    color: #fff;
    line-height: 90px;
    font-size: 40px;
}
.a4 p:nth-child(odd){
    -webkit-transform: translate(-600px,0);
}
.a4 p:nth-child(even){
    -webkit-transform: translate(600px,0);
}
#a4 p{
     -webkit-transform: translate(0,0);
     -webkit-transition: 1s;
 }



.a3{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 10%;
    bottom: 0;

}

h2{
    position: absolute;
    top: -10%;
    left: 5%;
    font-size: 40px;
    color: white;
    margin: 25px 0 0 -80px;
}
.a3 {
    width: 460px;
    margin-left: -230px;
    position: absolute;
    left: 50%;
    top: 10%;
}
.a3 p img{
    width: 460px;
    height: 600px;
}

#a3 :nth-child(2){
    -webkit-transform: rotateY(360deg);
    -webkit-transition:1s;
}



.a2{
    width: 100%;
    text-align: left;
    position: absolute;
    top: 10%;
    bottom: 0;
    color: #fff;
    line-height: 50px;
    font-size: 28px;
    padding: 67px;
    background: url("img/icon.png")repeat-y left;

}
.a2 h2{
    position: absolute;
    top: -10%;
    left: 15%;
    font-size: 40px;
    color: white;
    margin: 25px 0 0 -80px;
}
.a2 p:nth-child(odd){
    -webkit-transform: translate(-1000px,0);
}
.a2 p:nth-child(even){
    -webkit-transform: translate(1000px,0);
}
#a2 p{
    -webkit-transform: translate(0,0);
    -webkit-transition: 1s;
}


.a1{
    width: 100%;
    text-align: left;
    position: absolute;
    top: 10%;
    line-height: 70px;
    color: #FFFFFF;
    font-size: 30px;
    padding: 0 10px;
}
.a1 h2{
    position: absolute;
    top: -10%;
    left: 15%;
    font-size: 40px;
    color: white;
    margin: -27px 0 0 -80px;
}
.a1 p:nth-child(odd){
    -webkit-transform: translate(0,-1000px);
}
.a1 p:nth-child(even){
    -webkit-transform: translate(0,1000px);
}
#a1 p{
    -webkit-transform: translate(0,0);
    -webkit-transition: 1s;
    color: orange;
}











